# Frontend
VITE_API_URL=http://localhost:8000

# Backend
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
BEDROCK_MODEL_ID=anthropic.claude-3-haiku-20240307
GITHUB_TOKEN=your-github-token
DATABASE_URL=postgresql://user:password@localhost:5432/repodoc